extends ../layout

block content
  h1= title

  form(action='/' method='post')
    div
      label(for='email') Email
        p
          input(type='email' name='email')
      label(for='password') Password
        p
          input(type='password' name='password')
    div
      input(type='submit' value='Login')
    div
      p
         a(href='login/new') Create an Account
