extends ../layout

block content
  h1.maintitle= title
  a.button(href='board/new') New Entry
  for entry in entries
    p.subject= entry.subject
    p.title
      a(href=entry.url target='_blank')= entry.title
    p.description= entry.description
  

          
